* {
    box-sizing: border-box;
    text-align: center;
}
body {
    line-height: 32px;  
    background-color: dimgrey;
}
header {
  text-align: center;
  margin-left: 200px;
  margin-bottom: 20px;
  background-color: darkgrey;
  width: 960px;
  height: 100px;
  box-align: left;
}
  nav {
    margin-bottom: 20px;
    margin-left: 200px;
    background-color: darkgrey;
    width: 960px;
    height: 100px;
    box-align: left;
  }
  #section {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: darkgrey;
    position: absolute;
    width: 460px;
    height: 400px;
  }
   #article {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: dimgray;
    position: absolute;
    top: 50px;
    width: 400px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
  
  }
  #hleft {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: darkgrey;
    position: absolute;
    top: 50px;
    margin: 10px;
    width: 500px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
  #pleft {
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: darkgrey;
    position: absolute;
    padding: 24px;
    margin: 10px;
    width: 400px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  aside {
    float: right;
    margin-bottom: 20px;
    background-color: darkgrey;
    position: relative;
    width: 400px;
    height: 400px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

  }
  footer {
    margin-bottom: 20px;
    background-color: darkgrey;
    position: fixed;
    clear: both;
  }
  