* {
    box-sizing: border-box;
    text-align: center;
}
body {
    line-height: 32px;  
    background-color: dimgrey;
}
header {
  text-align: center;
  margin: auto;
  background-color: darkgrey;
  width: 960px;
  padding: 20px;
  box-align: left;
  height: 20px;
  padding-bottom: 100px;
  padding-top: 5px;
}
  nav {

    margin: auto;
    margin-top: 20px;
    background-color: darkgrey;
    width: 960px;
    height: 100px;
    box-align: left;
  }
  #section {
    /* box-sizing: border-box; */
    margin: 20px 15px 15px 300px;
    background-color: darkgrey;
    width: 460px;
    height: 400px;
    float: left;
   
  }
   #article {
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: dimgray;
    /* position: absolute; */
    top: 50px;
    width: 400px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
  
  }
  #hleft {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: darkgrey;
    top: 50px;
    margin: 10px;
    width: 350px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
  #pleft {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: darkgrey;
    top: 50px;
    margin: 10px;
    width: 350px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  aside {
   float: left;
    margin: 15px 0px 15px 15px;
    background-color: darkgrey;
    width: 400px;
    height: 400px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    position: relative;

  }
  footer {
    margin: auto;
    background-color: darkgrey;
    clear: both;
    width: 960px;
  }
  